/* CSS for website */
.custom-link {
    display: none !important;
}
#book-search-input {
    margin-bottom: -8px;
}
.gitbook-link {
    color: #ccc !important;
}
.book-summary ul.summary li.active>a {
    color: #2683ff;
}
.markdown-section a {
    color: #2683ff;
}